<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>famrecipes | </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=320, initial-scale=1">
        <meta name="theme-color" content="#fff4ed">
        
        <link rel="stylesheet" href="/css/all.min.css"> {{!-- Font Awesome --}}
        <link rel="stylesheet" href="animate.min.css"> {{!-- Animate CSS --}}
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div id="desktop-nav">
                    <span id="navbar-logo"><a href="/">famrecipes</a></span>
                    <div id="nav-content">
                        <ul id="navbar-links">
                            <li><a class="navbar-selected" href="/">Home</a></li>
                            <li><a href="/user/login">Login</a></li>
                            <div id="landing-dropdown"> 
                                <button id="recipe-dropdown">
                                <li><a>Recipes <i class="fas fa-caret-down"></i></a></li>
                                </button>

                                <ul id="dropdown-links">
                                <li><a href="/recipes/breakfast">Breakfast</a></li>
                                <li><a href="/recipes/appetizers">Appetizers</a></li>
                                <li><a href="/recipes/mains">Mains</a></li>
                                <li><a href="/recipes/soups">Soups</a></li>
                                <li><a href="/recipes/desserts">Desserts</a></li>
                                </ul>
                            </div>
                            
                        </ul>
                        <form id="navbar-search" action="">
                            <button id="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                            <input id="navbar-search-input" type="text" name="search" placeholder="Search recipes..." autocomplete="off">
                        </form>  
                    </div>
                </div>

                <div id="mobile-nav">
                    <div id="nav-top">
                        <span id="navbar-logo"><a href="/">famrecipes</a></span>
                        <button id="hamburger-button" type="button"><i class="fas fa-bars"></i></button>
                    </div>
                    <div id="nav-bottom">
                        <ul id="mobile-navbar-links">
                            <li>
                                <form id="navbar-search" class="search-mobile" action="">
                                    <button id="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                                    <input id="navbar-search-input" class="search-mobile-input" type="text" name="search" placeholder="Search recipes..." autocomplete="off">
                                </form> 
                            </li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Home</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/user/login">Login</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/breakfast">Breakfast</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/appetizers">Appetizers</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/mains">Mains</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/soups">Soups</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/desserts">Desserts</a></li>
                            <hr class="nav-link-spacer">
                        </ul>
                    </div>
                </div>
            </nav>
            <script>
                $("#hamburger-button").on("click", () => {
                    $("#mobile-navbar-links").toggle()
                    //$("#mobile-navbar-links").toggle().addClass("animate__animated animate__fadeIn");
                    if ($("#mobile-nav").hasClass("nav-blurred")) {
                        $("#mobile-nav").removeClass("nav-blurred")
                        $("body").removeClass("noScroll")
                    }
                    else {
                        $("#mobile-nav").addClass("nav-blurred")
                        $("body").addClass("noScroll")
                    }
                })

                $("#recipe-dropdown").on("click", () => {
                    $("#dropdown-links").toggle()
                })

                $('html').on('click', function(e) {
                if($(e.target).closest('#landing-dropdown').length === 0) {
                    $('#dropdown-links').hide();
                }
                });

                $('html').on('click', function(e) {
                if($(e.target).closest('#mobile-nav').length === 0) {
                    $('#mobile-navbar-links').hide();
                    $("#mobile-nav").removeClass("nav-blurred")
                    $("body").removeClass("noScroll")
                }
                });
            </script>
        </header>

        <main>
            {{{ body }}}
        </main>
        
    </body>
</html>