<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>famrecipes | </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=320, initial-scale=1">
        <meta name="theme-color" content="#fff4ed">
        
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.png"/>
        <link rel="apple-touch-icon" type="image/x-icon" href="/favicon/favicon.png"/>
        <link rel="stylesheet" href="/css/all.min.css"> {{!-- Font Awesome --}}
        <link rel="stylesheet" href="/css/main.css">

        <script type='application/javascript' src='/js/fastclick.js'></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div id="desktop-nav">
                    <span id="navbar-logo"><a href="/">famrecipes</a></span>
                    <div id="nav-content">
                        <ul id="navbar-links">
                            <li><a href="/">Home</a></li>
                            {{#if userSession.user}}
                            <div id="account-dropdown">
                                <button id="account-dropdown-btn">
                                    <li><a>Account <i class="fas fa-caret-down"></i></a></li>
                                </button>

                                <ul id="account-dropdown-links">
                                    <li><a href="/user/createrecipe">Create</a></li>
                                    <li><a href="/user/myrecipes">My Recipes</a></li>
                                    <li><a href="/user/logout">Logout</a></li>
                                </ul>
                            </div>
                            {{else}}
                            <li><a href="/user/login">Login</a></li>
                            {{/if}}
                            <div id="recipe-dropdown"> 
                                <button id="recipe-dropdown-btn">
                                <li><a>Recipes <i class="fas fa-caret-down"></i></a></li>
                                </button>

                                <ul id="recipe-dropdown-links">
                                    <li><a href="/recipes/breakfast">Breakfast</a></li>
                                    <li><a href="/recipes/appetizers">Appetizers</a></li>
                                    <li><a href="/recipes/mains">Mains</a></li>
                                    <li><a href="/recipes/soups">Soups</a></li>
                                    <li><a href="/recipes/desserts">Desserts</a></li>
                                </ul>
                            </div>
                            
                        </ul>
                        <form class="navbar-search" action="/recipes/search" method="GET">
                            <button class="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                            <label for="searchBar" hidden></label>
                            <input id="searchBar" class="navbar-search-input" type="text" name="q" placeholder="Search recipes..." autocomplete="off">
                        </form>  
                    </div>
                </div>

                <div id="mobile-nav">
                    <div id="nav-top">
                        <span id="navbar-logo"><a href="/">famrecipes</a></span>
                        <button id="hamburger-button" type="button"><i class="fas fa-bars"></i></button>
                    </div>
                    <div id="nav-bottom">
                        <ul id="mobile-navbar-links">
                            <li>
                                <form class="navbar-search search-mobile" action="/recipes/search" method="GET">
                                    <button class="navbar-search-icon" type="submit"><i class="fas fa-search mobileSearchIcon"></i></button>
                                    <label for="searchBar" hidden></label>
                                    <input id="searchBar" class="navbar-search-input search-mobile-input" type="text" name="q" placeholder="Search recipes..." autocomplete="off">
                                </form> 
                            </li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Home</a></li>
                            <hr class="nav-link-spacer-light">
                            {{#if userSession.user}}
                            <li><a href="/user/createrecipe">Create</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/user/myrecipes">My Recipes</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/user/logout">Logout</a></li>
                            {{else}}
                            <li><a href="/user/login">Login</a></li>
                            {{/if}}
                            <hr class="nav-link-spacer">
                            <li><a href="/recipes/breakfast">Breakfast</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/appetizers">Appetizers</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/mains">Mains</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/soups">Soups</a></li>
                            <hr class="nav-link-spacer-light">
                            <li><a href="/recipes/desserts">Desserts</a></li>
                            <hr class="nav-link-spacer">
                        </ul>
                    </div>
                </div>
            </nav>
            <script src="/js/navFunctionality.js"></script>
        </header>

        <main>
            {{{ body }}}
            <div class="bodyUnfocused"></div>
        </main>
        
    </body>
</html>