<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>famrecipes | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=320, initial-scale=1">
        <meta name="theme-color" content="#fff9f5">
        
        <link rel="stylesheet" href="/css/all.min.css"> {{!-- Font Awesome --}}
        <link rel="stylesheet" href="animate.min.css"> {{!-- Animate CSS --}}
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div id="desktop-nav">
                    <span id="navbar-logo"><a href="/">famrecipes</a></span>
                    <div id="nav-content">
                        <ul id="navbar-links">
                            <li><a class="navbar-selected" href="/">Home</a></li>
                            <div id="landing-dropdown">
                                
                                <button id="recipe-dropdown">
                                <li><a>Recipes</a></li>
                                </button>
                                
                                <ul id="dropdown-links">
                                <div id="arrow"></div>
                                <li><a href="/">Breakfast</a></li>
                                <li><a href="/">Appetizers</a></li>
                                <li><a href="/">Mains</a></li>
                                <li><a href="/">Soups</a></li>
                                <li><a href="/">Dessert</a></li>
                                </ul>
                            </div>
                            <li><a href="/">Login</a></li>
                        </ul>
                        <form id="navbar-search" action="">
                            <button id="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                            <input id="navbar-search-input" type="text" name="" id="" placeholder="Search recipes..." autocomplete="off">
                        </form>  
                    </div>
                </div>

                <div id="mobile-nav">
                    <div id="nav-top">
                        <span id="navbar-logo"><a href="/">famrecipes</a></span>
                        <button id="hamburger-button" type="button"><i class="fas fa-bars"></i></button>
                    </div>
                    <div id="nav-bottom">
                        <ul id="mobile-navbar-links">
                            <hr class="nav-link-spacer">
                            <li>
                                <form id="navbar-search" action="">
                                    <button id="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                                    <input id="navbar-search-input" type="text" name="" id="" placeholder="Search recipes..." autocomplete="off">
                                </form> 
                            </li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Home</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Login</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Breakfast</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Appetizers</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Mains</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Soups</a></li>
                            <hr class="nav-link-spacer">
                            <li><a href="/">Dessert</a></li>
                            <hr class="nav-link-spacer">
                        </ul>
                    </div>
                </div>
            </nav>
            <script>
                $("#hamburger-button").on("click", () => {
                    $("#mobile-navbar-links").toggle()
                    $("#mobile-navbar-links").addClass("animate__animated animate__fadeIn")
                })

                $("#recipe-dropdown").on("click", () => {
                    $("#dropdown-links").toggle()
                })
            </script>
        </header>

        <main>
            {{{ body }}}
        </main>
        
    </body>
</html>