<link rel="stylesheet" href="/css/404.css">

<script>
    document.querySelector("title").appendChild(document.createTextNode("Page 404"));
</script>

<div id="page-content">
    <h1>Page not found :(</h1>
    <br>
    <h3>Error 404</h3>
</div>