<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Recipe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css" type="text/css">
    </head>
    <body>
        <h1>Add a Recipe</h1>
        <br>
        <form method="post" action="/addrecipe">
            <input type="number" name="recipeId" value="0" hidden>
            
            <label for="recipeName">Recipe Name:</label>
            <input type="text" name="recipeName"/>

            <br>
            <label for="recipeDescription">Recipe Description</label>
            <input type="text" name="recipeDescription">

            <label for="recipeCategory">Recipe Description</label>
            <input type="text" name="recipeCategory[]">

            <label for="recipeCategory">Recipe Description</label>
            <input type="text" name="recipeCategory[]">

            <br>
            <input type="submit" value="Add Recipe">
        </form>
    </body>
</html>