<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Recipe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css" type="text/css">
    </head>
    <body>
        <h1>Add a Recipe</h1>
        <br>
        <form method="post" action="/addrecipe">
            <input type="number" name="recipeId" value="0" hidden>
            
            <label for="recipeName">Recipe Name:</label>
            <input type="text" name="recipeName"/>

            <br>
            <label for="recipeDescription">Recipe Description</label>
            <input type="text" name="recipeDescription">

            <!-- <label for="recipeCategory">Recipe Description</label>
            <input type="text" name="recipeCategory[]">

            <label for="recipeCategory">Recipe Description</label>
            <input type="text" name="recipeCategory[]"> -->

            <br>
            <h4>Category:</h4>
            <label for="recipeCategory">Breakfast?</label>
            <input type="checkbox" name="recipeCategory" value="breakfast">
            <br>
            <label for="recipeCategory">Lunch?</label>
            <input type="checkbox" name="recipeCategory" value="lunch">
            <br>
            <label for="recipeCategory">Dinner?</label>
            <input type="checkbox" name="recipeCategory" value="dinner">
            <br>
            <label for="recipeCategory">Dessert?</label>
            <input type="checkbox" name="recipeCategory" value="dessert">

            <br>
            <br>
            <div id="ingredientList">
                <input type="text" name="ingredients" id="">
                <br>
            </div>
            
            <br>
            <input type="button" id="addIngredient" value="Add Ingredient" onclick="butClicked">
            <br>
            <br>
            <br>

            <input type="submit" value="Add Recipe">

            <script>
                document.querySelector("#addIngredient").onclick = () => {
                var test = document.createElement("input")
                    
                test.type = "text";
                test.name = "ingredients";
                document.querySelector("#ingredientList").appendChild(test);
                document.querySelector("#ingredientList").appendChild(document.createElement("br"))
                }
            </script>
        </form>
        <script src="addRecipe.js"></script>
    </body>
</html>