<link rel="stylesheet" href="/css/appetizers.css">

<script>
        document.querySelector("meta[name='theme-color']").setAttribute("content", "#E6F3C2");
</script>

<div>
    <div id="colorFillBlock"></div>
    <div id="backdropColor">
        
        <div>
            <svg viewBox="0 0 1440 561" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0 416V0H1441L1440 416C876.437 608.289 560.325 608.302 0 416Z" fill="#E6F3C2"/>
            </svg>
            <img src="/images/appetizer-1-smaller.png" alt="">
        </div>
        
    </div>
</div>