<link rel="stylesheet" href="/css/appetizers.css">

<script>
    document.querySelector("meta[name='theme-color']").setAttribute("content", "#E6F3C2");
</script>

<div>
    <div id="headerColorFill"></div>
    <div id="headerBackdrop">
        <div>
            <svg viewBox="0 0 1440 561" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0 416V0H1441L1440 416C876.437 608.289 560.325 608.302 0 416Z" fill="#E6F3C2"/>
            </svg>

            <div id="headingContent">
                <h1 id="headerTitle">Appetizers</h1>
                <img src="/images/CategoryContent/appetizerPlate.png" alt="Plate with caesar salad, croutons, cheese and a fork and knife.">
            </div>
        </div>
    </div>

    <div id="cardSpace">
        <a href="">
            <div class="recipeCard">
            <div class="cardSection">
                <img src="/images/soups.jpg" alt="">
            </div>
            <div class="cardSection">
                <div class="cardTextSection">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quisquam ad dolores nihil? Atque ad consectetur perspiciatis neque autem laborum voluptatem a porro modi adipisci aliquid cum optio, placeat omnis!</p>
                </div>
            </div>
        </div>
        </a>
        
        
        <div class="recipeCard">

        </div>

        <div class="recipeCard">

        </div>
        <div class="recipeCard">

        </div>

        <div class="recipeCard">

        </div>
    </div>
</div>