<link rel="stylesheet" href="/css/appetizers.css">
<link rel="stylesheet" href="/css/categoryCards.css">

<script>
    document.querySelector("meta[name='theme-color']").setAttribute("content", "#E6F3C2");
    document.querySelector("title").appendChild(document.createTextNode("Appetizers"));
</script>

<div>
    <div id="headerColorFill"></div>
    <div id="headerBackdrop">
        <div>
            <svg viewBox="0 0 1440 561" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0 416V0H1441L1440 416C876.437 608.289 560.325 608.302 0 416Z" fill="#E6F3C2"/>
            </svg>

            <div id="headingContent">
                <h1 id="headerTitle">Appetizers</h1>
                <img src="/images/categoryContent/appetizers/headerPlate.png" alt="Plate with caesar salad, croutons, cheese and a fork and knife.">
            </div>
        </div>
    </div>

    <div id="cardSpace">

        <div class="recipeCard">
            <a href="/">
                <div class="cardContent">
                    <div class="cardSection">
                        <img src="/images/soups.jpg" alt="">
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>Sweet Pumpkin Soup</h1>
                            </div>
                            <div class="cardBody">
                                <p>8 Ingredients</p>
                                <p>6 Steps</p>
                            </div>
                            <div class="cardFooter">
                                <p>Max Ratajczak</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="recipeCard">
            <a href="/">
                <div class="cardContent">
                    <div class="cardSection">
                        <img src="/images/desserts.jpg" alt="">
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>Double Fudge Brownies</h1>
                            </div>
                            <div class="cardBody">
                                <p>8 Ingredients</p>
                                <p>4 Steps</p>
                            </div>
                            <div class="cardFooter">
                                <p>Gabbie Ratajczak</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="recipeCard">
            <a href="/">
                <div class="cardContent">
                    <div class="cardSection">
                        <img src="/images/mains.jpg" alt="">
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>Shrimp Quinoa Salad</h1>
                            </div>
                            <div class="cardBody">
                                <p>5 Ingredients</p>
                                <p>4 Steps</p>
                            </div>
                            <div class="cardFooter">
                                <p>Nicole Ratajczak</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="recipeCard">
            <a href="/">
                <div class="cardContent">
                    <div class="cardSection">
                        <img src="/images/IMG_1467.jpeg" alt="">
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>Chicken Bean Rice Dish</h1>
                            </div>
                            <div class="cardBody">
                                <p>11 Ingredients</p>
                                <p>7 Steps</p>
                            </div>
                            <div class="cardFooter">
                                <p>Julia Morawska</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="recipeCard">
            <a href="/">
                <div class="cardContent">
                    <div class="cardSection">
                        <img src="/images/appetizers.jpg" alt="">
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>Veggie Salad</h1>
                            </div>
                            <div class="cardBody">
                                <p>5 Ingredients</p>
                                <p>5 Steps</p>
                            </div>
                            <div class="cardFooter">
                                <p>Gabbie Ratajczak</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>