<link rel="stylesheet" href="/css/createRecipe.css">

<div id="card">
    <div id="content">
        <h1 id="heading">Create Recipe</h1>

        <fieldset class="createRecipeFieldset">
            <label for="name" hidden>Recipe Name</label>
            <input type="text" name="name" id="name" class="inputField" placeholder="Recipe Name (Required)" autocomplete="off" required>

            <label for="description" hidden>Recipe Description</label>
            <input type="text" name="description" id="description" class="inputField" placeholder="Short Description" autocomplete="off" required>
        </fieldset>
    </div>
</div>