<link rel="stylesheet" href="/css/createRecipe.css">

<div id="card">
    <div id="content">
        <h1 id="heading">Create Recipe</h1>
        <div>
            <p><span class="required">*</span> Required Field</p>
        </div>

        <fieldset class="createRecipeFieldset">
            <div>
                <label for="name">Recipe Name <span class="required">*</span></label>
                <input type="text" name="name" id="name" class="inputField" placeholder="Recipe Name" autocomplete="off" required>
            </div>
            
            <div>
                <label for="description">Recipe Description</label>
                <input type="text" name="description" id="description" class="inputField" placeholder="Short Description" autocomplete="off" required>
            </div>
        </fieldset>
    </div>
</div>