<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Famrecipes | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/css/all.min.css"> -->
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <nav id="navbar" >
            <span id="navbar-logo"><a href="/">famrecipes</a></span>
            <ul id="navbar-links">
                <li><a class="navbar-selected" href="#">Home</a></li>
                <li><a id="" href="/addrecipe">Create Recipe</a></li>
                <form id="navbar-searchbar" action="">
                    <input id="navbar-searchbar-input" type="text" name="" id="" placeholder="Search recipes...">
                    <button id="navbar-searchbar-icon"><i class="fas fa-search"></i></button>
                </form>
            </ul>
        </nav>

        <section>
            <div id="landing-categories">
                <a href="">
                    <div class="category-card">
                    <img src="/static/images/breakfast.jpg" alt="">
                    <div class="category-image-filter" id="cat-breakfast"><span>Breakfast</span></div>
                </div>
                </a>
                
                <a href="">
                    <div class="category-card">
                        <img src="/static/images/appetizers.jpg" alt="">
                        <div class="category-image-filter" id="cat-appetizers"><span>Appetizers</span></div>
                    </div>
                </a>
    
                <a href="">
                    <div class="category-card">
                        <!-- <img src="/static/images/mains.jpg" alt=""> -->
                        <div class="category-image-filter" id="cat-mains"><span>Mains</span></div>
                    </div>
                </a>
                
                <a href="">
                    <div class="category-card">
                        <img src="/static/images/soups.jpg" alt="">
                        <div class="category-image-filter" id="cat-soups"><span>Soups</span></div>
                    </div>
                </a>
                
                <a href="">
                    <div class="category-card">
                        <img src="/static/images/desserts.jpg" alt="">
                        <div class="category-image-filter" id="cat-desserts"><span>Desserts</span></div>
                    </div>
                </a>
            </div>
        </section>

        <section>
            <div id="recently-added">
                <h1 id="recently-added-heading">Recently Added</h1>
                <div id="recently-added-cards">
                    
                    <div class="ra-card">
                        
                    </div>

                    <div class="ra-card">

                    </div>

                    <div class="ra-card">

                    </div>

                    <div class="ra-card">

                    </div>

                </div>
            </div>
            
            <div style="position: absolute; top: 100%; z-index: -1;">
                <div style="display: flex; justify-content: space-between;">
                    <svg width="681" height="763" viewBox="0 0 681 763" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M300 0.294406C179.2 -7.30559 45.6667 134.128 -6 205.794V731.794C37.8333 769.294 137 775.794 183 731.794C240.5 676.794 149.5 643.294 149.5 561.794C149.5 480.294 142.5 399.294 453 396.794C763.5 394.294 673 205.794 654 177.294C635 148.794 451 9.79441 300 0.294406Z" fill="#FDF1E4"/>
                    </svg>
                    <svg width="410" height="846" viewBox="0 0 410 846" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 500px;">
                        <path d="M73.4124 151.119C119.412 -24.8808 317.246 -11.5474 410.412 17.1192V787.119C410.412 797.453 396.012 822.919 338.412 842.119C266.412 866.119 204.912 770.119 73.4124 583.619C-58.0876 397.119 15.9124 371.119 73.4124 151.119Z" fill="#FDF1E4"/>
                    </svg>
                </div>
            </div>
            
            
        </section>
        
    </body>
</html>