<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Famrecipes | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/responsive.css"> -->
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <nav id="navbar">
            <span id="navbar-logo"><a href="#">famrecipes</a></span>
            <ul id="navbar-links">
                <li><a class="navbar-selected" href="#">Home</a></li>
                <div id="landing-dropdown">
                    <button id="recipe-dropdown"><li><a>Recipes</a></li></button>
                    <ul>
                        <div id="arrow"></div>
                        <li><a href="">Breakfast</a></li>
                        <li><a href="">Appetizers</a></li>
                        <li><a href="">Mains</a></li>
                        <li><a href="">Soups</a></li>
                        <li><a href="">Dessert</a></li>
                    </ul>
                </div>
                <li><a href="#">Create Recipe</a></li>
            </ul>   
            <form id="navbar-search" action="">
                <button id="navbar-search-icon" type="submit"><i class="fas fa-search"></i></button>
                <input id="navbar-search-input" type="text" name="" id="" placeholder="Search recipes..." autocomplete="off">
            </form>
            <button id="hamburger-button" type="submit"><i class="fas fa-bars"></i></button>
        </nav>

        <section>
            <div id="landing-heading">
                <h1>Recently Added</h1>
            </div>
            <div id="recently-added">
                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/breakfast.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/appetizers.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/mains.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/soups.jpg" alt="">
                        </div>
                    </a>
                    
                </div>

                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/desserts.jpg" alt="">
                        </div>
                    </a>
                </div>

                <div class="flex-space">
                    <a href="">
                        <div class="recently-added-card">
                            <img src="/static/images/mains.jpg" alt="">
                        </div>
                    </a>
                </div>
                
            </div>
        </section>

    </body>
</html>