<link rel="stylesheet" href="/css/login.css">

<script>
    document.querySelector("title").appendChild(document.createTextNode("Login"));

    $(document).on("click", "#errorCloseButton", function() {
        $(this).closest("#errorBox").remove();
    })
</script>

<div id="page-content">
    <div>
        <div id="card">
            <div id="card-content">
                <h1 id="heading">Login</h1>
                {{#if error}}
                <div id="errorBox">
                    <p>{{error}}</p>
                    <button id="errorCloseButton"><i class="fas fa-times"></i></button>
                </div>
                {{/if}}
                <form action="/user/login" method="POST" id="loginForm">

                    <fieldset class="loginFieldset">
                        <label for="email" hidden>Email</label>
                        <input enterkeyhint="next" type="email" name="email" id="email" class="loginInput" placeholder="Email" autocomplete="off" required>
                    </fieldset>

                    <fieldset class="loginFieldset">
                        <label for="password" hidden>Password</label>
                        <input enterkeyhint="done" type="password" name="password" id="password" class="loginInput" placeholder="Password" required>
                    </fieldset>
                    
                    <button type="submit" id="loginButton">Login</button>
                    <div id="loginFooter">
                        <p>Don't have an account? <span><a href="/user/register">Register</a></span></p>
                    </div>
                </form>
            </div>
        </div>
        <div id="card-background"></div>
    </div>
    
</div>