:root {
    --nav-search-background: #ffffff7c;
    --backdropColor: #E6F3C2;

    --headerColorFillHeight: 0px;
    --backdropSpacing: -80px;

    --headingCenterPlatePosition: 10vw;
}
#headerBackdrop {
    position: relative;
    bottom: calc(var(--navbar-height) - var(--backdropSpacing));
    margin-bottom: calc((var(--navbar-height) - var(--backdropSpacing)) - (var(--navbar-height) - var(--backdropSpacing)) - (var(--navbar-height) - var(--backdropSpacing)));
    z-index: -100;
    height: 100%;
}
#headerColorFill {
    background-color: var(--backdropColor);
    height: var(--headerColorFillHeight);
    /* margin-bottom: calc(var(--headerColorFillHeight) - var(--headerColorFillHeight) - var(--headerColorFillHeight)); */
    width: 100%;
    position: relative;
    bottom: var(--navbar-height);
    z-index: -100;
}
#headerBackdrop img{
    width: 20vw;
    position: relative;
    bottom: var(--headingCenterPlatePosition);
    left: 50%;
    filter: drop-shadow(-20px 20px 25px rgba(0, 0, 0, 0.40));
    -webkit-filter: drop-shadow(-20px 20px 25px rgba(0, 0, 0, 0.40));;
    transform: translate(-50%);
    margin-bottom: calc(var(--headingCenterPlatePosition) - var(--headingCenterPlatePosition) - var(--headingCenterPlatePosition));
    
}
#headerBackdrop h1 {
    position: relative;
    bottom: 150px;
    width: max-content;
    margin: 0 auto;
    font-size: 3.5rem;
    color: var(--font-color);
    font-family: source-serif-pro-semibold;
    background-color: blue;
    
}
@media (max-width: 1440px) {
    :root {
        --backdropSpacing: 0px;
    }
}
@media (max-width: 1100px) {
    :root {
        --headerColorFillHeight: 50px;
    }
}
@media (max-width: 810px) {
    :root {
        --headerColorFillHeight: 100px;
    }
}
@media (max-width: 500px) {
    :root {
        --headerColorFillHeight: 200px;
    }
}