:root{
    --cardColor: #FFEDE2;

    --cardBorderRadius: 30px;
    --cardWidth: 450px;
    --cardHeight: 250px;
}
#cardSpace{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cardWidth));
    justify-content: center;
    margin: 150px var(--navbar-margin);
    gap: 100px 100px;
}
#cardSpace a{
    text-decoration: none;
    color: var(--font-color);
}
.cardContent{
    width: var(--cardWidth);
    height: var(--cardHeight);
    background-color: var(--cardColor);
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.18);
    border-radius: var(--cardBorderRadius);
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    overflow: hidden;
    /* padding: 10px; */
}
.cardSection{
    flex-basis: 50%;
    border-radius: var(--cardBorderRadius);
}
.imageSection div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.cardTextSection{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cardHeading *{
    font-size: 2.2rem;
    font-family: 'source-serif-pro-semibold';
}
.cardBody{
    position: relative;
    bottom: 20px;
}
.cardBody p:nth-child(2){
    margin-top: 5px;
}
.cardBody *{
    font-size: 1.7rem;
}
.cardFooter *{
    font-family: 'futura-light';
    font-size: 1.5rem;
}
@media (max-width: 1200px){
    :root{
        --cardWidth: 420px;
        --cardHeight: 220px;
    }
    #cardSpace {
        gap: 100px 80px;
    }
}
@media (max-width: 1100px){
    :root{
        --cardWidth: 400px;
        --cardHeight: 200px;
    }
    .cardBody{
        bottom: 10px;
    }
}
@media (max-width: 600px){
    #cardSpace {
        gap: 60px 80px;
    }
}
@media (max-width: 430px){
    :root{
        --cardWidth: 380px;
    }
}
@media (max-width: 400px){
    :root{
        --cardWidth: 350px;
    }
    .cardHeading *{
        font-size: 2rem;
    }
    .cardTextSection{
        padding: 20px 15px;
    }
}
@media (max-width: 380px){
    :root{
        --cardWidth: 330px;
        --cardHeight: 190px;
    }
}
@media (max-width: 350px){
    :root{
        --cardWidth: 300px;
    }
}