:root{
    --grey: rgb(117, 117, 117);

    --input-width: 300px;
}
#card{
    border: 2px solid var(--grey);
    padding: 40px;
    border-radius: 30px;
    width: fit-content;
    margin: 0 auto 150px auto;
}
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#heading{
    font-size: 3.8rem;
    color: var(--font-color);
}
.createRecipeFieldset{
    display: flex;
    border: none;
    margin-top: 20px;
    align-items: center;
}
.createRecipeFieldset div:first-of-type{
    margin-right: 40px;
}
#content h1{
    display: inline-block;
}
#content div p{
    margin-top: 10px;
    font-size: 1.6rem;
    font-family: futura-light;
    color: var(--font-color);
}
.inputField{
    width: var(--input-width);
    font-size: 1.7rem;
    padding: 10px 15px;
    border: 2px solid var(--grey);
    -webkit-appearance: inherit;
    color: var(--font-color);
    background-color: transparent;
    border-radius: 12px;
}
.inputField:focus{
    border: 2px solid var(--primary);
    outline: none;
}
.visibleLabel{
    display: block;
    bottom: 40px;
    font-size: 1.5rem;
    font-family: futura-light;
    margin-bottom: 5px;
}
.required{
    color: red;
}
.inputHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.charCountContainer{
    margin: 0 !important;
    font-size: 1.25rem;
}
.section{
    margin-top: 50px;
}
.section h2{
   font-size: 2.4rem;
   color: var(--font-color);
}
.divider {
    border: 1px solid var(--grey);
    margin: 50px 0;
}
.ingredientsFieldset, .directionsFieldset{
    flex-direction: column;
    align-items: flex-start;
}
.ingredientsFieldset div, .directionsFieldset div{
    margin: 0 0 20px 0 !important;
    flex-wrap: nowrap;
}
.ingredientContainer, .directionContainer{
    display: flex;
    width: 100%;
    align-items: center;
}
#ingredients, #directions{
    width: 100%;
}
.removeIngredient, .removeDirection{
    font-size: 2.1rem;
    color: red;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    background-color: transparent;
}
#addIngredient, #addDirection{
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 12px;
    color: rgb(0, 180, 0);
    border: none;
    background-color: transparent;
}
#addIngredient i, #addDirection i{
    font-size: 2.1rem;
}
#notes{
    margin-top: 10px;
    min-width: 100%;
    max-width: max-content;
    min-height: 150px;
    border-radius: 10px;
    border: 2px solid var(--grey);
    background-color: #f5edea;
    padding: 10px;
    font-size: 1.6rem;
}
#notes:focus{
    border: 2px solid var(--primary);
    outline: none;
}
#recipeCategory{
    width: 50%;
    font-size: 1.7rem;
    padding: 10px 15px;
    font-family: "futura-medium";
    background-color: #f5edea;
    border-radius: 10px;
    border: 2px solid var(--grey);
    color: var(--font-color);
}
#imageFile{
    /* font-size: 1.6rem; */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
#imageFileLabel {
    font-size: 1.5rem;
    background-color: rgb(155, 217, 238);
    color: var(--font-color);
    padding: 10px 15px;
    cursor: pointer;
    font-family: "futura";
    border-radius: 10px;
    border: 2px solid rgb(126, 179, 197);
    user-select: none;
}
#imageFileLabel:hover {
    background-color: rgb(144, 207, 228);
}
#imageFileLabel:active {
    background-color: rgb(138, 199, 219);
}
#filePath{
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--font-color);
}
#filePath span{
    color: black;
    font-style: italic;
}
#cancelButton{
    padding: 10px 20px;
    background-color: #e03f2a;
    font-size: 1.7rem;
    color: var(--background);
    border-radius: 10px;
    border: 2px solid #fa462e;
    cursor: pointer;
}
#cancelButton a{
    text-decoration: none;
    color: var(--background);
}
#cancelButton:hover{
    background-color: #d13824;
}
#cancelButton:active{
    background-color: #c73622;
}
#submitButton{
    padding: 10px 20px;
    background-color: var(--primary);
    font-size: 1.7rem;
    color: var(--background);
    border-radius: 10px;
    border: 2px solid #fa871b;
    cursor: pointer;
}
#submitButton:hover{
    background-color: #d87315;
}
#submitButton:active{
    background-color: #d16f14;
}
#finishButtons{
    justify-content: space-between;
}
#imageTemplate{
    margin-top: 20px;
}
#imageTemplate div h3{
    font-size: 2rem;
    color: var(--font-color);
}
#imageTemplate img{
    margin-top: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
}
#errorBox {
    background-color: rgb(255, 132, 132);
    padding: 10px;
    border-radius: 10px;
}
#errorBox h2{
    color: rgb(167, 1, 1);
}
#imageAlt{
    width: 100%;
}
@media (max-width: 750px){
    :root{
        --input-width: 320px;
    }
    .createRecipeFieldset{
        flex-direction: column;
        align-items: flex-start;
    }
    .createRecipeFieldset div:first-of-type{
        margin-right: 0px;
    }
    .createRecipeFieldset:first-of-type div:nth-child(2){
        margin-top: 20px;
    }
    #card {
        padding: 40px 30px;
    }
    #recipeCategory{
        width: var(--input-width);
    }
    #finishButtons{
        justify-content: space-between !important;
        flex-direction: row;
    }
}
@media (max-width: 640px){
    #card {
        padding: 30px 15px;
    }
}
@media (max-width: 400px){
    :root{
        --input-width: 300px;
    }
    #card {
        padding: 30px 20px;
    }
}
@media (max-width: 350px){
    :root{
        --input-width: 280px;
    }
    #card {
        padding: 30px 15px;
        margin: 10px;
    }
}
@media (max-width: 330px){
    :root{
        --input-width: 275px;
    }
    #card {
        padding: 30px 10px;
        margin: 10px;
    }
}