/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap'); */

@font-face {
    font-family: source-serif-pro-bold;
    src: url(/static/fonts/SourceSerifPro-Bold.ttf);
}
@font-face {
    font-family: futura-light;
    src: url(/static/fonts/futura-light-bt.ttf);
}
@font-face {
    font-family: futura-medium;
    src: url(/static/fonts/futurabq-medium.otf);
}

:root {
    --background-cl: #FFF9F5;
    --primary-cl: #F57600;
    --primary-hover-cl: black;
    --font-cl: #434343;
    --searchbar-landing-cl: #f1ece8;
    --searchbar-placeholder: #b4b4b4;

    --navbar-height: 200px;
    --navbar-margin: 100px;
    --navbar-links-margin: 30px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.50%;
}
body {
    background-color: var(--background-cl);
}
h1,h2,h3,h4,h5,h6,p,span,li,ul,a,button,input,textarea {
    font-family: 'futura-medium', sans-serif;
}

#navbar {
    display: flex;
    height: var(--navbar-height);
    align-items: center;
    justify-content: space-between;
}
#navbar-logo *{
    text-decoration: none;
    color: var(--primary-cl);
    font-family: source-serif-pro-bold, serif;
    font-size: 4rem;
    margin-left: var(--navbar-margin);
}

#navbar-links {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: var(--navbar-margin);
}
#navbar-links li {
    list-style: none;
    margin: var(--navbar-links-margin);
}
#navbar-links li a {
    color: var(--primary-cl);
    text-decoration: none;
    font-size: 2rem;
}

#navbar-searchbar {
}
#navbar-searchbar-input {
    border: none;
    background-color: var(--searchbar-landing-cl);
    border-radius: 100px;
    height: 50px;
    width: 300px;
    padding: 15px 20px;
    font-size: 1.8rem;
    color: var(--font-cl);
    transition: outline 50ms ease;
  
}
#navbar-searchbar-input::placeholder {
    color: var(--searchbar-placeholder);
}
#navbar-searchbar-input:hover {
    outline: 5px solid rgba(245, 118, 0, 0.192);
}
form:hover:before {
    content: "";
    display: block;
    height: 50px;
    width: 300px;
    outline: 1px solid var(--primary-cl); 
    position: absolute;
    border-radius: 100px;
    z-index: -1;
}
#navbar-searchbar-input:focus {
    outline: 5px solid rgba(245, 118, 0, 0.192);
}
/* WEBKIT AUTOFILL */
input:-webkit-autofill{
    -webkit-text-fill-color: var(--font-cl) !important;
}
input:-webkit-autofill::first-line {
    font-family: 'futura-medium', sans-serif;
    font-size: 2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--searchbar-landing-cl) inset !important;
}
/* WEBKIT AUTOFILL END*/
#navbar-searchbar-icon {
    background: none;
    border: none;
    position: relative;
    right: 50px;
}
#navbar-searchbar-icon i{
    color: var(--primary-cl);
    font-size: 2.5rem;
}











#search-box {
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    max-height: 450px;
}
#search-box #img-overlay {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0%;
    border-radius: 3.5vw;
    position: relative;
    top: -80%;
    /* display: none; */
}
#search-box img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 3.5vw;
    object-position: 0 -70px;
}

#img-content {
    position: relative;
    top: -180%;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-content: center;
}

#mainSearchTitle {
    font-family: 'Source Serif Pro', serif;
    font-size: 5rem;
    color: #1d2938;
    margin-top: 2vw;
    text-shadow: 2px 3px 0px white;
}

#landingSearchForm {
    position: relative;
    left: 15px;
    margin-top: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSearchInput {
    width: 60%;
    height: 45px;
    font-size: 2em;
    border-radius: 15px;
    border: 2.5px solid var(--primary-colour);
    background-color: rgba(255, 255, 255, 0.801);
    padding: 10px;
    margin-right: 5px;
}
#mainSearchInput:focus {
    outline: none;
}

#mainSearchButton {
    background: none;
    border: none;
    position: relative;
    right: 50px;
}
#mainSearchButton i{
    font-size: 2.5rem;
    
}
