/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap'); */

@font-face {
    font-family: source-serif-pro-bold;
    src: url(/static/fonts/SourceSerifPro-Bold.ttf);
}
@font-face {
    font-family: futura-light;
    src: url(/static/fonts/futura-light-bt.ttf);
}
@font-face {
    font-family: futura-medium;
    src: url(/static/fonts/futurabq-medium.otf);
}

:root {
    --background-cl: #FFF9F5;
    --primary-cl: #ff6600;
    --primary-hover-cl: black;
    --font-cl: #434343;
    --searchbar-landing-cl: #f1ece8;
    --searchbar-placeholder: #c5c5c5;

    --navbar-height: 200px;
    --navbar-margin: 100px;
    --navbar-links-margin: 30px;

    --category-border-radius: 30px;
    --categories-margin: 70px;
    --categories-spacing: 20px;
    --categorycard-height: 280px;
    --categorycard-width: 220px;

    --category-breakfast-cl: rgba(55, 82, 102, 0.3);
    --category-appetizers-cl: rgba(33, 67, 17, 0.3);
    --category-mains-cl: rgba(111, 74, 5, 0.3);
    --category-soups-cl: rgba(94, 50, 26, 0.3);
    --category-desserts-cl: rgba(67, 5, 54, 0.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.50%;
}
body {
    background-color: var(--background-cl);
}
h1,h2,h3,h4,h5,h6,p,span,li,ul,a,button,input,textarea {
    font-family: 'futura-medium', sans-serif;
}

#navbar {
    display: flex;
    height: var(--navbar-height);
    align-items: center;
    justify-content: space-between;
}
#navbar-logo *{
    text-decoration: none;
    color: var(--primary-cl);
    font-family: source-serif-pro-bold, serif;
    font-size: 4rem;
    margin-left: var(--navbar-margin);
}

#navbar-links {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: var(--navbar-margin);
}
#navbar-links li {
    list-style: none;
    margin-right: var(--navbar-links-margin);
}
#navbar-links li a {
    color: var(--primary-cl);
    text-decoration: none;
    font-size: 2rem;
}
.navbar-selected {
    border-bottom: 2.5px solid var(--primary-cl);
    padding-bottom: 4px;
}
#navbar-searchbar-input {
    border: none;
    background-color: var(--searchbar-landing-cl);
    border-radius: 100px;
    height: 50px;
    width: 300px;
    padding: 15px 20px;
    font-size: 1.8rem;
    color: var(--font-cl);
    outline: 4px solid rgba(245, 118, 0, 0);
    transition: outline 400ms ease;
    
}
#navbar-searchbar-input::placeholder {
    color: var(--searchbar-placeholder);
}
#navbar-searchbar-input:hover {
    outline: 4px solid rgba(245, 118, 0, 0.192);
}
#navbar-searchbar:before {
    content: "";
    display: block;
    height: 50px;
    width: 300px;
    outline: 1px solid var(--searchbar-landing-cl); 
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    transition: outline 400ms ease;
}
#navbar-searchbar:hover:before {
    content: "";
    display: block;
    height: 50px;
    width: 300px;
    outline: 1px solid var(--primary-cl); 
    position: absolute;
    border-radius: 100px;
    z-index: -1;
}
#navbar-searchbar-input:focus {
    outline: 4px solid rgba(245, 118, 0, 0.192);
}

/* WEBKIT AUTOFILL */
input:-webkit-autofill{
    -webkit-text-fill-color: var(--font-cl) !important;
}
input:-webkit-autofill::first-line {
    font-family: 'futura-medium', sans-serif;
    font-size: 2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--searchbar-landing-cl) inset !important;
    box-shadow: 0 0 0 30px var(--searchbar-landing-cl) inset !important;
}
/* WEBKIT AUTOFILL END*/
#navbar-searchbar-icon {
    background: none;
    border: none;
    position: relative;
    right: 55px;
    top: 2px;
}
#navbar-searchbar-icon i{
    color: var(--primary-cl);
    font-size: 2.5rem;
    margin: -2px -55px 0 0;
}


#landing-categories a{
    text-decoration: none;
}
#landing-categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 var(--categories-margin);
}
#landing-categories .category-card{
    width: var(--categorycard-width);
    height: var(--categorycard-height);
    border-radius: var(--category-border-radius);
    background-color: black;
    /* margin: 0 var(--categories-spacing); */
}
#landing-categories .category-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--category-border-radius)
}
.category-image-filter {
    width: 100%;
    height: 100%;
    /* background-color: rgba(54, 54, 54, 0.507); */
    border-radius: var(--category-border-radius);
    position: relative;
    top: -100%;
    margin-bottom: calc(var(--categorycard-height) - var(--categorycard-height) - var(--categorycard-height));
    display: flex;
    justify-content: center;
}
.category-image-filter span {
    font-size: 4rem;
    color: var(--background-cl);
    position: relative;
    margin-top: 35%;
}
#cat-breakfast {
    background-color: var(--category-breakfast-cl);
}
#cat-appetizers {
    background-color: var(--category-appetizers-cl);
}
#cat-mains {
    background-color: var(--category-mains-cl);
}
#cat-soups {
    background-color: var(--category-soups-cl);
}
#cat-desserts {
    background-color: var(--category-desserts-cl);
}
