@font-face {
    font-family: source-serif-pro-bold;
    src: url(/static/fonts/SourceSerifPro-Bold.ttf);
}
@font-face {
    font-family: futura-light;
    src: url(/static/fonts/futura-light-bt.ttf);
}
@font-face {
    font-family: futura-medium;
    src: url(/static/fonts/futurabq-medium.otf);
}

:root {
    --background: #fff9f5;
    --primary: #E17817;
    --font-colour: #4A4A4A;

    --navbar-height: 160px;
    --navbar-margin: 7vw;
    --navbar-link-space: 2vw;
    --navbar-link-hover: #b96618;
    --nav-search-background: #F0EBE5;
    --nav-search-placeholder: #B2B2B2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.50%;
}
body {
    background-color: var(--background);
}
h1,h2,h3,h4,h5,h6,p,span,li,ul,a,button,input,textarea {
    font-family: 'futura-medium', sans-serif;
}

/* NAVBAR */
#navbar {
    display: flex;
    height: var(--navbar-height);
    align-items: center;
    justify-content: space-between;
}
#navbar-logo {
    font-size: 3.5rem;
    margin-left: var(--navbar-margin);  
}
#navbar-logo a{
    text-decoration: none;
    color: var(--primary);
    font-family: 'source-serif-pro-bold', serif;
}
#navbar-links {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}
#navbar-links li{
    list-style: none;
    margin: 0 var(--navbar-link-space);
}
#navbar-links li a {
    text-decoration: none;
    color: var(--primary);
    transition: color 400ms;
}
#navbar-links li a:hover{
    color: var(--navbar-link-hover);
}
.navbar-selected {
    border-bottom: 2px solid var(--primary);
    padding-bottom: 5px;
}
/* SEARCH BAR */
#navbar-search {
    margin-right: var(--navbar-margin);
}
#navbar-search-input {
    background-color: var(--nav-search-background);
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 285px;
    padding: 10px 20px 10px 45px;
    font-size: 1.7rem;
    transition: box-shadow 400ms ease;
    color: var(--font-colour)
}
#navbar-search-input::placeholder {
    color: var(--nav-search-placeholder);
}
#navbar-search-input:hover {
    box-shadow: 0 0 0 1.5px var(--nav-search-placeholder);
}
#navbar-search-input:focus {
    box-shadow: 0 0 0 3px #e9710070;
    outline: none;
}
#navbar-search-icon {
    background: none;
    border: none;
    position: relative;
    margin: 0 -40px 0 0;
    top: 3px;
}
#navbar-search-icon i{
    font-size: 2.15rem;
    cursor: pointer;
    color: var(--primary);
}
/* WEBKIT AUTOFILL */
/* #navbar-search-input:-webkit-autofill{
    -webkit-text-fill-color: var(--font-colour) !important;
}
#navbar-search-input:-webkit-autofill::first-line {
    font-family: 'futura-medium', sans-serif;
    font-size: 1.5rem;
}
#navbar-search-input:-webkit-autofill,
#navbar-search-input:-webkit-autofill:hover, 
#navbar-search-input:-webkit-autofill:focus, 
#navbar-search-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--nav-search-background) inset !important;
    box-shadow: 0 0 0 30px var(--nav-search-background) inset !important;
} */
/* HAMBURGER MENU */
#hamburger-button {
    background: none;
    border: none;
    margin-right: var(--navbar-margin);
    display: none;
}
#hamburger-button i{
    font-size: 3rem;
    cursor: pointer;
    color: var(--primary);
}
/* NAVBAR END */