:root {
    --input-width: 280px;
}
#page-content {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#heading {
    color: var(--font-colour);
    font-size: 2.8rem;
    text-align: center;
    cursor: default;
}
#card {
    align-items: center;
    display: flex;
    background: linear-gradient(125deg, rgba(255,255,255,0.8) 40%, rgba(243, 242, 242, 0.8) 100%);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.082);
    flex-direction: column;
}
#card-content {
    padding: 50px 30px;
}
#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.registerFieldset {
    border: none;
    margin: 20px 0 0 0;
}
.registerFieldset:nth-child(4) {
    border: none;
    margin: 40px 0 0 0;
}
.registerInput {
    width: var(--input-width);
    font-size: 1.8rem;
    padding: 8px 5px;
    border: none;
    border-bottom: 1px solid rgb(134, 134, 134);
    color: var(--font-colour);
    background-color: transparent;
    border-radius: 0 ;
}
.registerInput:focus {
    border-bottom: 1px solid var(--primary);
    outline: none;
}
#registerButton {
    margin: 40px 0;
    width: var(--input-width);
    border: none;
    background-color: var(--primary);
    padding: 10px 15px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 150ms;
}
#registerButton:hover {
    background-color: #da7517;
}
#registerButton:focus {
    background-color: #cf7016;
}
#registerFooter {
    font-size: 1.45rem;
    cursor: default;
}
#registerFooter span a {
    text-decoration: none;
    color: var(--primary);
}
#registerFooter span a:hover {
    color: #eb9d54;
}
@media (max-width: 380px) {
    :root {
        --input-width: 250px;
    }
}
@media (max-width: 320px) {
    :root {
        --input-width: 240px;
    }
}