:root{
    --input-width: 280px;
}
#page-content{
    display: flex;
    justify-content: center;
    margin: 20px 0 80px 0;
}
#heading{
    color: var(--font-color);
    font-size: 2.8rem;
    text-align: center;
    cursor: default;
}
#card{
    align-items: center;
    display: flex;
    border-radius: 30px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.15);
    flex-direction: column;
}
#card-background{
    position: relative;
    top: -100%;
    height: 100%;
    z-index: -100;
    background: linear-gradient(45deg, rgba(255,240,216,1) 0%, rgba(255,223,211,1) 50%, rgba(255,234,209,1) 100%);
    border-radius: 30px;
}
#card-content{
    padding: 50px 30px;
}
#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.registerFieldset{
    border: none;
    margin: 20px 0 0 0;
}
.registerFieldset:nth-child(4){
    border: none;
    margin: 40px 0 0 0;
}
.registerInput{
    width: var(--input-width);
    font-size: 1.8rem;
    padding: 8px 5px;
    border: none;
    border-bottom: 1px solid rgb(134, 134, 134);
    color: var(--font-color);
    background-color: transparent;
    border-radius: 0 ;
}
.registerInput:focus{
    border-bottom: 1px solid var(--primary);
    outline: none;
}
#registerButton{
    margin: 40px 0;
    width: var(--input-width);
    border: none;
    background-color: var(--primary);
    padding: 10px 15px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 150ms;
}
#registerButton:hover{
    background-color: #da7517;
}
#registerButton:focus{
    background-color: #cf7016;
}
#passwordRequirements{
    font-size: 1.6rem;
    color: rgb(100, 100, 100);
    max-width: var(--input-width);
    margin-top: 10px;
    align-self: flex-start;
}
#registerFooter{
    font-size: 1.45rem;
    color: var(--font-color);
    cursor: default;
}
#registerFooter span a{
    text-decoration: none;
    color: var(--primary);
}
#registerFooter span a:hover{
    color: #eb9d54;
}
.registerInput:-webkit-autofill{
    -webkit-text-fill-color: var(--font-color) !important;
}
.registerInput:-webkit-autofill::first-line{
    font-family: 'futura-medium';
}
.registerInput:-webkit-autofill,
.registerInput:-webkit-autofill:hover, 
.registerInput:-webkit-autofill:focus, 
.registerInput:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--nav-search-background) inset !important;
    box-shadow: 0 0 0 30px var(--nav-search-background) inset !important;
}
.errorField{
    background-color: rgba(255, 0, 0, 0.2);
}
#errorBox{
    max-width: var(--input-width);
    height: 50px;
    border-radius: 15px;
    background-color: rgb(230, 121, 121);
    border: 2px solid rgb(224, 83, 83);
    margin-top: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    color: rgb(63, 63, 63);
}
#errorBox *{
    font-size: 1.6rem;
}
#errorBox strong{
    font-weight: bolder;
}
#errorBox button{
    background-color: transparent;
    padding: 8px 5px;
    margin-top: 3px;
    border: none;
    cursor: pointer;
}
#errorBox button i{
    font-size: 1.3em;
    color: rgb(202, 39, 39);
}



@media (max-width: 640px){
    #heading{
        font-size: 3.1em;
    }
    .registerInput{
        font-size: 2.1em;
    }
    #registerButton{
        font-size: 2.1em;
    }
    #registerFooter{
        font-size: 1.7em;
    }
    #passwordRequirements{
        font-size: 1.9em;
    }
}
@media (max-width: 380px){
    :root{
        --input-width: 250px;
    }
}
@media (max-width: 320px){
    :root{
        --input-width: 240px;
    }
}