/* LANDING.HTML */
@media (min-width: 2049px) {
    :root {
        --recently-added-margin: 15vw;
    }
    html {
        font-size: 70%;
    }
    #navbar-search-input {
        width: 325px;
        height: 55px;
    }
}
@media (max-width: 2048px) {
    :root {
        --recently-added-margin: 13vw;
    }
}
@media (max-width: 1800px) {
    :root {
        --recently-added-margin: 7vw;
    }
}
@media (max-width: 1445px) {
    :root {
        --recently-added-margin: 5vw;
    }
}
@media (max-width: 1280px) {
    :root {
        --recently-added-margin: 0vw;

        --landing-card-height: 420px;
        --landing-card-width: 310px;
        --landing-card-img-height: 240px;
        --landing--card-img-width: 240px;
    }
    .landing-card-content {
        padding: 20px 10px 20px 20px;
    }

}
@media (max-width: 1175px) {
    :root {
        --recently-added-margin: 10vw;
    }
}
@media (max-width: 1024px) {
    :root {
        --navbar-margin: 4vw;
        --recently-added-margin: 2vw;
    }
}
@media (max-width: 900px) {
    :root {
        --navbar-margin: 15vw;
        --recently-added-margin: 0vw;
    }
    #navbar {
        justify-content: space-between;
    }
    #navbar-links {
        display: none;
    }
    #navbar-search {
        display: none;
    }
    #hamburger-button {
        display: block;
    }
    #landing-heading {
        margin-bottom: 6vw;
    }
    #landing-heading h1 {
        font-size: 3.5rem;
    }
    #background-blobs {
        top: 20vw;
    }
    #right-blob {
        top: 80vh;
    }
}
@media (max-width: 795px) {
    :root {
        --recently-added-margin: 2vw;
    }
    .flex-space {
        padding: 5px;
    }
}
@media (max-width: 749px) {
    #additional-blobs {
        display: flex;
        top: 200vh;
    }
}
@media (max-width: 721px) {
    :root {
        --landing-card-height: 460px;
        --landing-card-width: 320px;
        --landing-card-img-height: 260px;
        --landing--card-img-width: 260px;
    }
    #additional-blobs {
        display: flex;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 55%;
    }
    #background-blobs {
        top: 10vw;
    }
}
@media (max-width: 440px) {
    :root {
        --landing-card-height: 390px;
        --landing-card-width: 280px;
        --landing-card-img-height: 210px;
        --landing--card-img-width: 210px;
    }
    #landing-heading {
        margin-bottom: 8vw;
    }
    #landing-heading h1 {
        font-size: 3.8rem;
    }
    .landing-card-content {
        padding: 20px 10px 20px 20px;
    }
    #background-blobs {
        top: -15vw;
    }
    #additional-blobs {
        top: 160vh;
    }
}
@media (max-width: 320px) {
    :root {
        --navbar-margin: 10vw;
        --landing-card-height: 360px;
        --landing-card-width: 250px;
        --landing-card-img-height: 180px;
        --landing--card-img-width: 180px;
    }
    .recently-added-card {
        margin-top: 30px;
        margin-left: 30px;
    }
    .recently-added-card img{
        bottom: 30px;
        right: 30px;
        margin-bottom: -30px;
    }
    #landing-heading h1 {
        font-size: 3.2rem;
    }
    #background-blobs {
        top: -30vw;
    }
}
/* LANDING.HTML */