/* LANDING.HTML */
@media (min-width: 2049px) {
    html {
        font-size: 70%;
    }
    #navbar-search-input {
        width: 350px;
        height: 55px;
    }
    #navbar {
        background-color: rgb(255, 204, 204);
    }
}
@media (max-width: 2048px) {
    #navbar {
        background-color: rgb(196, 196, 255);
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 60%;
    }
    #navbar {
        background-color: rgb(255, 186, 255);
    }
}
@media (max-width: 1024px) {
    :root {
        --navbar-margin: 4vw;
    }
    html {
        font-size: 58%;
    }
    /* #navbar-search-input {
        width: 250px;
    } */
    #navbar {
        background-color: rgb(205, 255, 238);
    }
}
@media (max-width: 900px) {
    :root {
        --navbar-margin: 20vw;
    }
    #navbar {
        background-color:rgb(255, 198, 198);
    }
    #navbar-links {
        display: none;
    }
    #navbar-search {
        display: none;
    }
    #hamburger-button {
        display: block;
    }
}
@media (max-width: 640px) {
    #navbar {
        background-color: rgb(255, 241, 221);
    }
}
@media (max-width: 440px) {
    :root {
        --navbar-margin: 15vw;
    }
    html {
        font-size: 55%;
    }
    #navbar {
        background-color:rgb(235, 255, 215);
    }
}
/* LANDING.HTML */